<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @host.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @host.ip %>
</p>

<p>
  <strong>Port:</strong>
  <%= @host.port %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @host.suffix %>
</p>

<p>
  <strong>Token:</strong>
  <%= @host.token %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
