<% @hosts.each do |host| %>
<div class="col-xs-3 col-md-2">
  <div class="well">
    <p class="text-center">
      <%= host.name %>
    </p>
    <p class="text-center">
      <a href="<%= host.path %>"><img class="img-rounded" src="https://chart.googleapis.com/chart?cht=qr&chs=140x140&chl=<%= host.path %>" alt="QR Code" /></a>
    </p>
    <p class="text-center">
      <span class="label <% if !host.online? %>label-danger<% else %>label-success<% end %>"><%= host.status %></span>
    </p>
    <p class="text-center">
      Last updated at <%= time_ago_in_words(host.updated_at)%> ago.
    </p>
  </div>
</div>
<% end %>
